<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Location</key>
	<dict>
		<key>1</key>
		<string>No Room Effect</string>
		<key>2</key>
		<string>Small Classroom</string>
		<key>3</key>
		<string>Large Classroom</string>
	</dict>
	<key>Speaker</key>
	<dict>
		<key>1</key>
		<string>No Speaker Effect</string>
		<key>2</key>
		<string>Moderate Speaker</string>
		<key>3</key>
		<string>Crappy Speaker</string>
	</dict>
</dict>
</plist>
